<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>ParisJanitor</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Dummy Heading</p>
      <li class="active">
        <a href="#homeSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Utilisateurs</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Home 1</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#propertySubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Biens immobiliers</a>
        <ul class="collapse list-unstyled" id="propertySubmenu" >
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#billSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Facturation et Paiement</a>
        <ul class="collapse list-unstyled" id="billSubmenu" >
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#servicesSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Services</a>
        <ul class="collapse list-unstyled" id="servicesSubmenu" >
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>



      <li>
        <a href="#">About</a>
      </li>


      <!--<li>
        <a href="#">Portfolio</a>
      </li>-->
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>




  <!-- Page Content -->
  <div class="" id="content">

    <div class="row mb-3">
      <div class="">
        <div class="card rounded-0">
          <div class="card-body">
            <h5 class="card-title">Tableau de bord</h5>
          </div>
        </div>
      </div>
    </div>

    <!---->

    <div class="row d-flex justify-content-between mb-4">

      <div style="max-width: 20rem;">
        <div class="card rounded-0">
          <div class="card-header bg-transparent border-success">Bien immobiliers</div>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text">With supporting </p>
          </div>
          <div class="card-footer bg-transparent border-success"><button type="button" class="btn btn-sm btn-link">Voir plus</button></div>
        </div>
      </div>

      <div style="max-width: 20rem;">
        <div class="card rounded-0">
          <div class="card-header bg-transparent border-success">Utilisateurs</div>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text">With supporting </p>
          </div>
          <div class="card-footer bg-transparent border-success"><button type="button" class="btn btn-sm btn-link">Voir plus</button></div>
        </div>
      </div>

      <div  style="max-width: 20rem;">
        <div class="card rounded-0">
          <div class="card-header bg-transparent border-success">Prestations</div>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text">With supporting </p>
          </div>
          <div class="card-footer bg-transparent border-success"><button type="button" class="btn btn-sm btn-link">Voir plus</button></div>
        </div>
      </div>


      <div style="max-width: 20rem;">
        <div class="card">
          <div class="card-header bg-transparent border-success">Visites</div>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text">With supporting </p>
          </div>
          <div class="card-footer bg-transparent border-success"><button type="button" class="btn btn-sm btn-link">Voir plus</button></div>
        </div>
      </div>

      <div style="max-width: 20rem;">
        <div class="card">
          <div class="card-header bg-transparent border-success">Paiements</div>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text">With supporting </p>
          </div>
          <div class="card-footer bg-transparent border-success"><button type="button" class="btn btn-sm btn-link">Voir plus</button></div>
        </div>
      </div>
    </div>

    <!----->


    <div class="row d-flex justify-content-between">

      <div style="max-width: 33rem;">
        <div class="card rounded-0">
          <div class="card-header bg-transparent border-success">Graphe 1</div>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text">With supporting </p>
          </div>

        </div>
      </div>

      <div style="max-width: 33rem;">
        <div class="card rounded-0">
          <div class="card-header bg-transparent border-success">Graphe 2</div>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text">With supporting </p>
          </div>
        </div>
      </div>

      <div style="max-width: 33rem;">
        <div class="card rounded-0">
          <div class="card-header bg-transparent border-success">Graphe 3</div>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text">With supporting </p>
          </div>
        </div>
      </div>

    </div>


  </div>








</div>
